* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.webapp {
  min-height: 250vh;
  color: white;
  background: linear-gradient(#0b004e, #1d152f, #002834);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  color: white;
  border-bottom: 2px solid #3c3c3c;
}
.navbar .logo {
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-links {
  display: flex;
  gap: 40px;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: max(1vw, 12px);
}

.navbar select {
  padding: 5px, 8px;
  border-radius: 6px;
  border: 2px solid white;
  background: transparent;
  color: white;
}

.navbar option{
  background: #09005c;
  color: white;
}

.navbar .btn{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  background: white;
  color: #393939;
  border: none;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  min-height: 100vh;
}

.hero-content {
  max-width: 50%;
}

.headline {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero .hero-text {
  font-size: 1.2rem;
  font-weight: 300;
  color: #b0b0b0;
  margin-bottom: 30px;
}

 .home {
  padding: 0px 10px;
  padding-bottom: 100px;
 }

 .search {
  max-width: 600px;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
 }

 .search form {
  padding: 8px;
  width: 80%;
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
 }

  .search .search-bar {
    flex: 1;
    font-size: 16px;
    border: none;
    outline: none;
    padding-left: 10px;
  }

  .search .search-btn {
    border: none;
    background: #7927ff;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .crypto-table {
    width: 100%;
    border-collapse: collapse;
    background: linear-gradient(rgba(84,3,225,0.15), rgba(105,2,153,0.15));
    border-radius: 15px;
    overflow: hidden;
  }

  th, td {
    padding: 15px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
  }

  th {
    background: linear-gradient(rgba(84,3,225,0.15), rgba(105,2,153,0.15));
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
  }

  td {
    border-bottom: 1px solid #3c3c3c;
  }

  .crypto-table tbody tr {
    cursor: pointer;
  }

  .crypto-table tbody tr:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  .coin-cell {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .coin-cell img {
    width: 24px;
    height: 24px;
  }

  .change-positive {
    color: #34d399;
  }

  .change-negative {
    color: #f87171;
  }

   #error {
    text-align: center;
    color: #f87171;
    margin: 10px 0;
    display: none;
  }

  /*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer-top {
  background-color: hsl(240, 5%, 8%);
  padding-block: 80px 50px;
}

.footer-top .container {
  display: flex;
  gap: 50px;
}

.footer .logo { font-size: 3rem; }

.footer-title {
  color: white;
  font-size: 2.4rem;
  margin-block: 25px 20px;
}

.footer-contact-link:not(:last-child) { margin-block-end: 12px; }

address.footer-contact-link { max-width: 30ch; }

.footer-list-title {
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-list > li:not(:last-child) { margin-block-end: 10px; }

.footer-list > li:first-child { margin-block-end: 20px; }

.footer-link {
  color: hsl(0, 0%, 85%);
}

.footer-link:is(:hover, :focus) { color: hsl(222, 100%, 61%); }

.footer-bottom {
  background-color: hsl(228, 9%, 10%);
  padding-block: 20px;
}

.copyright {
  text-align: center;
  margin-block-end: 20px;
}

.copyright-link {
  display: inline-block;
  color: hsl(222, 100%, 61%);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-link {
  font-size: 18px;
}

.social-link:is(:hover, :focus) { color: hsl(222, 100%, 61%); }